body 
{
    width: 900px;
    margin: 0 auto;
}

#wrapper
{
    margin-top: 0px;
    width: 1000px;
    margin: 0 auto;
    display: block;
}
#header {
    float: center; 
    margin: 0 300px; 
    padding-top: 0px;
    padding-bottom: 50px; 
    }
/*navigation */
#nav 
{
	float: left; 
	font: 25px Arial, sans-serif; 
	list-style: none; 
	text-transform: uppercase;
	margin: 0 350px;
	padding: 0;
	width: 450px; 
}

#nav li 
{
	float: left; 
	font-color: black;
	width: 150px;
	text-align: center;
	line-height: 50px; 
}

#nav a
{
	color: white;
	display: block; 
	background: linear-gradient(#9CBA7F, #CFDBC5);
	text-decoration: none; 
}

#nav a:hover 
{
	background: radius-gradient (#CFDBC5, #9CBA7F);
	color: black;
	text-transform: uppercase;
}

ol
{
	float: left;
}
ol li 
{
	font-size: 15px;
	color: green;
	font-size: 20px;
	font-weight: bold; 
	line-height: 50px;
	
}
ol li a
{
	text-decoration: none; 
	color: green; 
	font-size: 20px;
	font-weight: bold; 
}	

ol li a:hover
{
	color: blue; 
}
/*button */
.button {
	background: #78AB46;
	color: #fff;
	font: 20px Times New Roman, serif; 
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 500px;
	margin-right: 50px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}
.button:hover {
	color: #fff;
	background: #9CBA7F;
}
.button:active {
	color: white;
}
/*row and columns */
#rowcontainer
{
    margin-top: 0px;
    width: 850px;
    display: inline-block;
}

h1
 {
	font-variant: uppercaps;
	text-align: center;
	color: green;
	font-size: 100px; 
	font-weight: bold; 
	padding: 100 0px;
 }

h4
{
    font-variant: small-caps;
    text-align: center;
    color: black; 
}
.column1
{
    float: left;
    width: 250px;
    padding: 10px;
}
.column2
{
    float: left;
    width: 250px;
    padding: 10px;
}
.column3
{
    float: left;
    width: 250px;
    padding: 10px;
}
